#categories {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 90vh;
  gap: 20px;
  padding-top: 100px;
}
#categories #category,
#categories #subCategories {
  border: 1px solid gainsboro;
  padding: 15px;
  min-width: 350px;
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 6px;
}
#categories .formElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
#categories .formElement input,
#categories .formElement select,
#categories .formElement textarea {
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 8px 10px;
  outline: none;
  width: 100%;
}
#categories form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
